html, body{
	margin: 0;
	padding: 0;
}
body {
	background: #0d1424 url(images/body-bg.jpg) no-repeat center top;
	font: .81em/150% Arial, Helvetica, sans-serif;
	color: #666;
}


.canvas {
	background: #fff;
	padding: 10px 20px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	margin: 15px 0 15px;
}

.flickr_badge_image img{
	width: 48px;
	height: 48px;
}